.gif{
    height:300px;
    width: auto;
    border:0;
    background-color: black;
    margin: 10px
}

.output{
    background-color: black;
    display:flex;
    flex-wrap: wrap;
}

body {
    background-color: black;
}

form {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,120,1) 60%, rgba(0,212,255,1) 100%);
    color: whitesmoke;
    padding: 20px;
    justify-content: center;
}